<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Image PDF</title>
    <script>
        async function generatePdf(event) {
            event.preventDefault();

            const formData = new FormData(document.getElementById('uploadForm'));
            const response = await fetch('/generate', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const fileName = response.headers.get('Content-Disposition')
                    .match(/filename="(.+)"/)[1];
                const generationStartTime = response.headers.get('X-PDF-Generation-Start-Time');
                const generationEndTime = response.headers.get('X-PDF-Generation-End-Time');
                const generationTime = response.headers.get('X-PDF-Generation-Time');
                updatePdfList(fileName,generationStartTime,generationEndTime, generationTime);
            } else {
                alert('PDF 생성에 실패했습니다.');
            }
        }

        function updatePdfList(fileName,generationStartTime,generationEndTime, generationTime) {
            const listContainer = document.getElementById('pdfList');
            const listItem = document.createElement('li');
            listItem.textContent =
                `${fileName} - 생성 시작 시간 : ${generationStartTime} - 생성 종료 시간 : ${generationEndTime} - 생성 소요 시간: ${generationTime}`;
            listContainer.appendChild(listItem);
        }

        async function mergePdfs(event) {
            event.preventDefault();

            const response = await fetch('/merge', {
                method: 'POST'
            });

            if (response.ok) {
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                alert('PDF 병합이 완료되었습니다.');
            } else {
                alert('PDF 병합에 실패했습니다.');
            }
        }
    </script>
</head>
<body>
<h1>Generate PDF Demo</h1>
<form action="/generate" enctype="multipart/form-data" id="uploadForm" method="post" onsubmit="generatePdf(event)">
    <label for="image">이미지 선택 :</label>
    <input accept="image/*" id="image" name="image" required type="file"><br><br>

    <label for="content">기능 설명 :</label>
    <textarea cols="50" id="content" name="content" required rows="4"></textarea><br><br>

    <label for="modificationRequirements">수정 요청사항 :</label>
    <textarea cols="50" id="modificationRequirements" name="modificationRequirements" required
              rows="4"></textarea><br><br>

    <button type="submit">PDF 생성</button>
</form>

<h2>생성한 PDF List:</h2>
<ul id="pdfList"></ul>

<button onclick="mergePdfs(event)">합치기</button>

</body>
</html>